*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
width: 600px;
background-color: rgb(224, 154, 226);
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 25px;
font-family: 'Dosis', sans-serif;
color: white;
display: grid;
align-items: center;
}

.formulario h4{
    font-size: 22px;
    margin: 20px;

}

.name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 10px;
}

#Nombres{
width: 48%;
border-radius: 5px;
padding: 3px;
}

#Apellidos{
width: 48%;
border-radius: 5px;
padding: 3px;
}

.datos{
    margin-bottom: 6px;
    border-radius:5px ;
    padding: 3px;
}

.registrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#listaDatos{
    position: relative;
    left: 50px;
}